@import url(https://fonts.googleapis.com/css?family=Quicksand);

body {
  padding-top: 20px;
  background-color: #DDD;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

h1 {
  font-size: 5em;
}

.navAnchor {
	position: absolute;
	top: -3.5em;
}

/* Styling for about-box */

#about-box {
  position: relative;
  height: 40em;
  color: #DDD;
}

#about-inner {
  position: absolute;
  top: 5em;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

h1 {
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border: 4px solid #DDD;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 500px) {
  #about-box h1 {
    font-size: 3em;
  }
  #about-box h3 {
    font-size: 2em;
  }
}

.style-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.dev-bg {
  background-image: url("/public/img/devbg.jpg");
  background-position: center top;
}

.engr-bg {
  background-image: url("/public/img/engrbg.jpg");
  background-position: 55% 80%;
}

.data-bg {
  background-image: url("/public/img/databg.jpg");
}

#profile {
  position: relative;
  margin: 20px auto 0 auto;
  width: 225px;
  height: 225px;
}

#profile-pic {
  border: 10px solid #EEE;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

#profile-icon {
  float: left;
  position: absolute;
  color: white;
  background-color: #3b5998;
  width: 55px;
  height: 55px;
  line-height: 40px;
  left: 160px;
  top: 160px;
  border-radius: 100%;
  border: 8px solid #EEE;
}

/* Styling for intro-box */

#intro-box {
	padding: 1em 0 4em 0;
	background-color: #222;
	color: #DDD;
}

#hello-box {
	background-color: #444;
	top: 1.5em;
	padding: 2em;
}

#skills-box {
  background-color: #555;
  top: 1.5em;
  padding: 2em 2em 0 2em;
}

.progress {
  display: inline-block;
  width: 90%;
  margin-bottom: .8em;
}

.progress-icon {
  position: relative;
  display: inline-block;
  margin-left: 1em;
  height: 27px;
  line-height: 27px;
}

.progress-icon i {
  position: absolute;
  top: 0;
}

.progress-icon .gold {
  color: #FFD700;
}

#cert-box {
	background-color: #555;
	top: 1.5em;
	padding: 1em 2em 2em 2em;
}

/* Styling for portfolio-box */

#portfolio-box {
  position: relative;
  padding: 1em 0 2em 0;
	background-color: #DDD;
}

#portfolio-menu {
  position: absolute;
  text-align: left;
  display: inline-block;
  top: 4em;
  left: 0;
  z-index: 11;
	min-width: 13em;
	color: #333;
}

#portfolio-menu > div {
	width: 100%;
}

#portfolio-menu > div > div {	
	padding: 0.25em;
  font-size: 1.5em;
  cursor: pointer;	
}

#portfolio-menu > div:hover  {
  background-color: rgba(150, 150, 150, 0.75);
}

#portfolio-menu > div span {
  display: none;
}

#portfolio-menu > div:hover > div > span {
  display: inline-block;
}

.portfolio-menu-select > div {
	background-color: rgba(150, 150, 150, 0.75);
	color: orange;	
}

.portfolio-menu-select > div > span {
	display: inline-block !important;
}

@media (max-width: 500px) {
  .portfolio-menu-select > div > span {
    display: none !important;
  }
  #portfolio-menu {
    min-width: 3em;
  }
  
  #portfolio-menu > div:hover > div > span {
    display: none;
  }
  
  
}

.project-list-container {
	/* padding: 0 2em 2em 0; */
	padding-left: 3em;
	padding-right: 3em;
}

.project-col {
	display: relative;
  padding: 2em 0 2em 0;
}

.project-box {
	position: relative;
	max-width: 400px;
	margin: 0 auto;
}

.project-box:hover > span {
	opacity: .8;	
}

.project-box > span {
	position: absolute;
	text-align: center;
	background: black;
	top: 1em;
	left: 0;
	width: 100%;
	font-size: 1.5em;
	opacity: 0;
	transition: opacity .5s;
	color: #DDD;
}

.project-box > img {
  display: relative;
  box-shadow: 0 3px 5px rgba(0,0,0,0.12), 0 3px 4px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.project-box:hover > img {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.project-thumb {
  border-radius: 5px;
	border: 2px solid #444;
  width: 275px;
  height: 175px;
  overflow: hidden;
  cursor: pointer;
}

.project-thumb-fav {
  border-color: orange !important;
}

.project-enter {
  opacity: 0.01;
	transform: translate(0, 50px);
}

.project-enter.project-enter-active {
  opacity: 1;
	transform: translate(0, 0);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.project-leave {
  opacity: 1;
	transform: translate(0, 0);
}

.project-leave.project-leave-active {
  opacity: 0.01;
	transform: translate(0, 50px);
  transition: opacity 300ms ease-in, transform 500ms ease-in;
}

.modal {
  top: 5em;
}

.modal-header {
  font-size: 18px;
  font-weight: bold;
}

.modal-body {
	position: relative;
	display: inline-block;
  min-height: 215px;
  text-align: left;
}

.modal-body {
	width: 100%;
}

.modal-body .modal-img {
  display: block;
	margin: 0 auto;
  border: 2px solid black;
}

.modal-body .modal-desc {
  display: inline-block;
}

#spacer-box {
	display: block;
	height: 20em;
	width: 100%;
}

/* Styling for contact-box */

#contact-box {
	position: relative;
  background-color: #222;
  color: #DDD;
  padding: 1em 0 3em 0;
}

#contact-box a {
  color: inherit;
}

#contact-box a:hover {
  color: #888;
}